# Backup files
*.swp
*.swo
.*.swo
.*.swp
*~
.DS_Store

# Python build/run files
*.pyc
*__pycache__
build/
dist/
setuptools
_skbuild/

# Numpy output
*.npy

# csv files with caches
deupack/cache/*.csv

# Personal workspace
/workspace
